body,
html,
#root {
  height: 100%;
}

body {
  background-color: #697d9e;
}

#input {
  margin-top: 6.25%;
}

#output {
  margin-top: 6.25%;
  border-radius: 5px;
  border: 2px gray solid;
  background-color: white;
}
